
body {
    font-size: 1.3em;
    width: 80%;
    max-width: 35em;
    margin: auto;
    line-height: 1.4;
    background-color: #f7f2ca;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #454545;
}
a {
    color: #0077aa;
}
@media (min-width: 320px) and (max-width: 1081px) {
    * {
        font-size: 1.2em;
    }
    body {
        width: 100%;
    }
}
