
body {
    font-size: 24px;
    width: 70%;
    max-width: 30em;
    margin: auto;
    line-height: 1.4;
    background-color: #333230;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Courier New', Courier, monospace;
    color: #f0e7e7;
}
a {
    color: #f0e7e7;
}
a:hover {
    color: #0077aa;
}
@media only screen and (max-width: 1081px) {
    body {
        width: 95%;
        font-size: 30px;
    }
}


img {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.wordart {
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.wordart.blues .text {
    font-family: Impact, sans-serif;
    color: #24c0fd;
    -webkit-text-stroke: 0.01em #0000aa;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa,Strength=1);
    text-shadow: 0.13em -0.13em 0px #0000aa;
    letter-spacing: -0.05em;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-flex;
    background-color: #555453;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

#navbar li:hover{
    background-color: #646360;
    color: #f0e7e7;
}

#navbar a {
    text-decoration: none;
    color: 454545;
}